{% extends "base.html" %}
{% load static %}


{% block title %} {{ noticia.title }} {% endblock %}

{% block content %}

    <!--Imagen -->
    <div class="container">
        <div class="row thumbnail_not">
            <div class="col-md-offset-1">
                <a href="{{ noticia.image.url }}"> <img src="{{ noticia.image.url }}" class="portrait"></a>
            </div>
        </div>
    </div>

    <!--Texto -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{ noticia.title }}</h1>
                <p>Publicada: {{ noticia.publish }}</p>
                <p>{{ noticia.body }}</p>
            </div>
        </div>
    </div>

{% endblock %}
