{% extends "base.html" %}
{% load static %}


{% block title %} Noticias {% endblock %}

{% block content %}

    <!--Principal -->
    <h1 class="encabezado">Noticias</h1>
        <div class="content_area">
        <!--Intentar conseguir 3 noticias por fila para guardar estilo-->
            {% for noticia in noticias  %}
                {% cycle '<div class="row">' '' '' as div %}
                        <div class="col-sm-6 col-md-4">
                            <!--Comprobar que funciona fuera de DEBUG. -->
                            <div class="thumbnail">
                            <img src="{{ noticia.image.url }}" class="portrait"></div>
                                <h3>{{ noticia.title }}</h3>
                                <p>{{ noticia.body|truncatewords:30|linebreaks }}</p>
                                <p>
                                    <a href="{{ noticia.get_absolute_url }}" class="popular_more">Leer +</a>
                                </p>
                        </div>
                {% cycle '' '' '</div>' as div %}
            {% endfor %}
            {% if not noticias|length|divisibleby:3 %}
                </div>
            {% endif %}

            <div class="pagination">
                <span class="step-links">
                    {% if noticias.has_previous %}
                        <a href="?page={{ noticias.previous_page_number }}">Noticias más Nuevas</a>
                    {% endif %}
                    <span class="current">
                        Página {{ noticias.number }}.
                    </span>
                    {% if noticias.has_next %}
                        <a href="?page={{ noticias.next_page_number }}">Noticias más Antiguas</a>
                    {% endif %}
                </span>
            </div>
        </div>
{% endblock %}