{% extends "base.html" %}
{% load static %}


{% block title %}Becas{% endblock %}

{% block content %}
    <h1 class="encabezado">Becas</h1>
        <div class="content_area">
            {% for t_beca in t_becas  %}
                <h2 class="beca_type">{{ t_beca.type }}</h2>
                <div class="accordion">
                    {% for beca in t_beca.becas.all %}
                        {% if beca.date_end >= date %}
                            <div class="accordion-section">
                                <a class="accordion-section-title" href="#beca{{ beca.id }}">{{ beca.name }}</a>
                                <div id="beca{{ beca.id }}" class="accordion-section-content">
                                    <p>Finaliza la beca: {{ beca.date_end }}</p>
                                    <p>{{ beca.description|linebreaks }}</p>
                                    <p class="becas"><a href="{{ beca.attach.url }}"> <input type="submit" value="Convocatoria" class="btn btn-info"></a>
                                    <a href="{{ beca.get_absolute_url }}"> <input type="submit" value="Aplicar" class="btn btn-primary"></a></p>
                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->
                        {% endif %}
                    {% endfor %}
		        </div><!--end .accordion-->
            {% endfor %}
        </div>

{% endblock %}
