{% extends "base.html" %}
{% load static %}


{% block title %}Experience{% endblock %}

{% block content %}

<!--Imagen -->
    <div class="container">
        <div class="row col-md-offset-3 ">
            <p><img src="{% static "noticias/images/experiencias.jpg" %}" class="img_exp"></p>
        </div>

<!--Texto -->

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p>No hay forma más sencilla y  enriquecedora que aprender de las vivencias de los demás. Es por esto que hemos abierto este espacio para ti. Envíanos tus fotográfias y platícanos tus experiencias, buenas y malas, de esta manera ayudarás a futuros estudiantes de intercambio que tal vez se enfrentarán a las mismas situaciones que tú a superar esos pequeños obstáculos.</p>

                <p>Envíanos tus archivos en PDF con algunas fotografías a los correos: becas@ing.usac.edu.gt y sajaneth14@gmail.com</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% for pais in experiencias  %}
                    <div class="center_img">
                        <img src="{{ pais.image.url }}" class="bandera">
                        <h4>{{ pais.name }}</h4>
                    </div>
                    {% regroup pais.experiences.all by year as exp_list  %}

                    {% for exps in exp_list %}
                        <h5 class="year_exp">{{ exps.grouper }}</h5>
                        {% for experiencia in exps.list %}
                            <p>
                                <a href="{{ experiencia.experience.url }}" class="student">{{ experiencia.name_student }} </a>
                                <a href="{{ experiencia.thesis.url }}" class="tesis">Tesis</a>

                            <span class="university"> - {{ experiencia.university }}</span></p>
                        {% endfor %}
                    {% endfor %}
                    <hr/>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
